<?xml version="1.0"?>
<config>
    <modules>
        <Etheme_Megatronrw>
            <version>0.1.0</version>
        </Etheme_Megatronrw>
    </modules>
    <frontend>
        <layout>
            <updates>
                <megatronrw>
                    <file>megatronrw.xml</file>
                </megatronrw>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<megatronrw>
				<use>admin</use>
				<args>
					<module>Etheme_Megatronrw</module>
					<frontName>megatronrw</frontName>
				</args>
			</megatronrw>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <megatron>
                <children>
                    <sliders>
                        <children>
                            <parallax>
                                <title>Megatron slider (home, fullwidth)</title>
                                <sort_order>9</sort_order>
                                <action>megatronrw/adminhtml_megatronrw</action>
                            </parallax>
                        </children>
                    </sliders>
                </children>
            </megatron>
        </menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
                         <system>
                            <children>
                                <config>
                                    <children>
                                        <megatronrw>
                                            <title>Megatron - Parallax slider</title>
                                        </megatronrw>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <etheme>
                            <title>eTheme - Megatron</title>
                            <children>
                                <slider>
                                    <title>Slider Configuration</title>
                                    <children>
                                        <parallax>
                                            <title>Parallax slider</title>
                                            <children>
                                                <upload1>
                                                    <title>Upload slides</title>
                                                </upload1>
                                            </children>
                                        </parallax>
                                    </children>
                                </slider>
                            </children>
                        </etheme>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
    <global>
        <models>
            <megatronrw>
                <class>Etheme_Megatronrw_Model</class>
                <resourceModel>megatronrw_mysql4</resourceModel>
            </megatronrw>
            <megatronrw_mysql4>
                <class>Etheme_Megatronrw_Model_Mysql4</class>
                <entities>
                    <megatronrw>
                        <table>megatronrw</table>
                    </megatronrw>
	                <megatronrw_store>
                        <table>megatronrw_store</table>
                    </megatronrw_store>
                </entities>
            </megatronrw_mysql4>
       </models>
       <resources>
	      <megatronrw_setup>
	        <setup>
	          <module>Etheme_Megatronrw</module>
	        </setup>
	        <connection>
	          <use>core_setup</use>
	        </connection>
	      </megatronrw_setup>
	      <megatronrw_write>
	        <connection>
	          <use>core_write</use>
	        </connection>
	      </megatronrw_write>
	      <megatronrw_read>
	        <connection>
	          <use>core_read</use>
	        </connection>
	      </megatronrw_read>
	    </resources>
        <blocks>
            <megatronrw>
                <class>etheme_megatronrw_Block</class>
            </megatronrw>
        </blocks>
        <helpers>
            <megatronrw>
                <class>etheme_megatronrw_Helper</class>
            </megatronrw>
        </helpers>
    </global>
</config>