<?xml version="1.0"?>
<config>
    <modules>
        <Etheme_Megatronrevolution>
            <version>0.1.0</version>
        </Etheme_Megatronrevolution>
    </modules>
    <frontend>
        <layout>
            <updates>
                <megatronrevolution>
                    <file>megatronrevolution.xml</file>
                </megatronrevolution>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<megatronrevolution>
				<use>admin</use>
				<args>
					<module>Etheme_Megatronrevolution</module>
					<frontName>megatronrevolution</frontName>
				</args>
			</megatronrevolution>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <megatron>
                <children>
                    <sliders>
                        <children>
                            <revolution>
                                <title>Revolution slider (home, boxed)</title>
                                <sort_order>10</sort_order>
                                <action>megatronrevolution/adminhtml_megatronrevolution</action>
                            </revolution>
                        </children>
                    </sliders>
                </children>
            </megatron>
        </menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
                         <system>
                            <children>
                                <config>
                                    <children>
                                        <megatronrevolution>
                                            <title>Megatron - Revolution slider</title>
                                        </megatronrevolution>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <etheme>
                            <title>eTheme - eVoque</title>
                            <children>
                                <slider>
                                    <title>Slider Configuration</title>
                                    <children>
                                        <revolution>
                                            <title>Revolution slider</title>
                                            <children>
                                                <upload1>
                                                    <title>Upload slides</title>
                                                </upload1>
                                            </children>
                                        </revolution>
                                    </children>
                                </slider>
                            </children>
                        </etheme>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
    <global>
        <models>
            <megatronrevolution>
                <class>Etheme_Megatronrevolution_Model</class>
                <resourceModel>megatronrevolution_mysql4</resourceModel>
            </megatronrevolution>
            <megatronrevolution_mysql4>
                <class>Etheme_Megatronrevolution_Model_Mysql4</class>
                <entities>
                    <megatronrevolution>
                        <table>megatronrevolution</table>
                    </megatronrevolution>
	                <megatronrevolution_store>
                        <table>megatronrevolution_store</table>
                    </megatronrevolution_store>
                </entities>
            </megatronrevolution_mysql4>
       </models>
       <resources>
	      <megatronrevolution_setup>
	        <setup>
	          <module>Etheme_Megatronrevolution</module>
	        </setup>
	        <connection>
	          <use>core_setup</use>
	        </connection>
	      </megatronrevolution_setup>
	      <megatronrevolution_write>
	        <connection>
	          <use>core_write</use>
	        </connection>
	      </megatronrevolution_write>
	      <megatronrevolution_read>
	        <connection>
	          <use>core_read</use>
	        </connection>
	      </megatronrevolution_read>
	    </resources>
        <blocks>
            <megatronrevolution>
                <class>etheme_megatronrevolution_Block</class>
            </megatronrevolution>
        </blocks>
        <helpers>
            <megatronrevolution>
                <class>etheme_megatronrevolution_Helper</class>
            </megatronrevolution>
        </helpers>
    </global>
</config>