
$font: 'Lato', sans-serif;
$font_size_basic: 14px;
$line_height_basic: 21px;
$fs_little: 11px;

$primary_link: #9B1B64;
$secondary_link: #9B1B64;

body{
  font-family: $font;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #FEFBF0;
}


h1,h2,h3,h4{
  font-family: $font;
}

h4{
  font-size: 20px;
  line-height: 24px;
}

.purple{
  color: #9B1B64;
}

p{
  font-family: $font;
  font-size: $font_size_basic;
  line-height: $line_height_basic;
  margin-bottom: 1em;
  padding: 0px;
}