<?xml version="1.0"?>
<config>
    <modules>
        <Etheme_Megatrongallery>
            <version>0.1.0</version>
        </Etheme_Megatrongallery>
    </modules>
    <admin>
        <routers>
			<megatrongallery>
				<use>admin</use>
				<args>
					<module>Etheme_Megatrongallery</module>
					<frontName>megatrongallery</frontName>
				</args>
			</megatrongallery>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <megatron>
                <children>
                    <gallery>
                        <title>Gallery</title>
                        <sort_order>15</sort_order>
                        <action>megatrongallery/adminhtml_megatrongallery</action>
                    </gallery>
                </children>
            </megatron>
        </menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
                         <system>
                            <children>
                                <config>
                                    <children>
                                        <megatrongallery>
                                            <title>Megatron - Gallery</title>
                                        </megatrongallery>
                                    </children>
                                </config>
                            </children>
                        </system>

					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
    <global>
        <models>
            <megatrongallery>
                <class>Etheme_Megatrongallery_Model</class>
                <resourceModel>megatrongallery_mysql4</resourceModel>
            </megatrongallery>
            <megatrongallery_mysql4>
                <class>Etheme_Megatrongallery_Model_Mysql4</class>
                <entities>
                    <megatrongallery>
                        <table>megatrongallery</table>
                    </megatrongallery>
	                <megatrongallery_store>
                        <table>megatrongallery_store</table>
                    </megatrongallery_store>
                </entities>
            </megatrongallery_mysql4>
       </models>
       <resources>
	      <megatrongallery_setup>
	        <setup>
	          <module>Etheme_Megatrongallery</module>
	        </setup>
	        <connection>
	          <use>core_setup</use>
	        </connection>
	      </megatrongallery_setup>
	      <megatrongallery_write>
	        <connection>
	          <use>core_write</use>
	        </connection>
	      </megatrongallery_write>
	      <megatrongallery_read>
	        <connection>
	          <use>core_read</use>
	        </connection>
	      </megatrongallery_read>
	    </resources>
        <blocks>
            <megatrongallery>
                <class>etheme_megatrongallery_Block</class>
            </megatrongallery>
        </blocks>
        <helpers>
            <megatrongallery>
                <class>etheme_megatrongallery_Helper</class>
            </megatrongallery>
        </helpers>
    </global>
</config>