<?xml version="1.0"?>
<config>
    <modules>
        <Etheme_Megatronconfig>
            <version>0.1.0</version>
        </Etheme_Megatronconfig>
    </modules>
    <frontend>
        <routers>
            <catalog>
                <use>standard</use>
                <args>
                    <modules>
                        <Etheme_Megatronconfig before="Mage_Catalog">Etheme_Megatronconfig</Etheme_Megatronconfig>
                    </modules>
                </args>
            </catalog>
            <colorswatchproductview>
                <args>
                    <modules>
                        <etheme_megatronconfig before="SMDesign_ColorswatchProductView">
                            Etheme_Megatronconfig_ColorSwatchProductView
                        </etheme_megatronconfig>
                    </modules>
                </args>
            </colorswatchproductview>
        </routers>
    </frontend>
    <admin>
        <routers>
            <megatronconfig>
                <use>admin</use>
                <args>
                    <module>Etheme_Megatronconfig</module>
                    <frontName>megatronconfig</frontName>
                </args>
            </megatronconfig>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <megatron>
                <title>Megatron v 1.1.0</title>
                <sort_order>10000</sort_order>
                <children>
                    <maintenance>
                        <title>Install</title>
                        <sort_order>0</sort_order>
                        <children>
                            <install>
                                <title>Install Theme</title>
                                <sort_order>1</sort_order>
                                <action>megatronconfig/adminhtml_installtemplate</action>
                            </install>
                            <!--<load_preset_configuration>
                                <title>Load preset configuration</title>
                                <sort_order>2</sort_order>
                                <action>megatronconfig/adminhtml_loadpresetconfig</action>
                            </load_preset_configuration>
                            <save_cur_blocks>
                                <title>Save preset configuration</title>
                                <sort_order>3</sort_order>
                                <action>megatronconfig/adminhtml_saveconfig</action>
                            </save_cur_blocks>-->
                            <reset_cms_blocks>
                                <title>Install/Reset blocks/pages</title>
                                <sort_order>4</sort_order>
                                <action>megatronconfig/adminhtml_resetcmsblocks</action>
                            </reset_cms_blocks>
                        </children>
                    </maintenance>
                    <config>
                        <title>Theme Settings</title>
                        <sort_order>1</sort_order>
                        <action>adminhtml/system_config/edit/section/megatronconfig</action>
                    </config>
                    <colors>
                        <title>Theme Colors</title>
                        <sort_order>2</sort_order>
                        <action>adminhtml/system_config/edit/section/megatroncolors</action>
                    </colors>
                    <layout>
                        <title>Theme Layout</title>
                        <sort_order>3</sort_order>
                        <action>adminhtml/system_config/edit/section/megatronlayout</action>
                    </layout>
                    <sliders>
                        <title>Sliders</title>
                        <sort_order>4</sort_order>
                    </sliders>
                    <helper>
                        <title>Faq</title>
                        <sort_order>999</sort_order>
                        <action>adminhtml/system_config/edit/section/megatronhelper</action>
                    </helper>

                </children>
            </megatron>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <megatronconfig>
                                            <title>Theme Settings</title>
                                        </megatronconfig>
                                        <megatroncolors>
                                            <title>Theme Colors</title>
                                        </megatroncolors>
                                        <megatronlayout>
                                            <title>Theme Layout</title>
                                        </megatronlayout>
                                        <megatronhelper>
                                            <title>FAQ</title>
                                        </megatronhelper>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <megatron>
                            <title>Megatron</title>
                            <sort_order>10001</sort_order>
                            <children>
                                <maintenance>
                                    <title>Theme Maintenance</title>
                                    <children>
                                        <install>
                                            <title>Install Theme</title>
                                        </install>
                                        <load_preset_configuration>
                                            <title>Load skin</title>
                                        </load_preset_configuration>
                                        <reset_cms_blocks>
                                            <title>Reset CMS blocks/pages to default</title>
                                        </reset_cms_blocks>
                                    </children>
                                </maintenance>
                                <config>
                                    <title>Theme Configuration</title>
                                </config>
                            </children>
                        </megatron>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <models>
            <megatronconfig>
                <class>Etheme_Megatronconfig_Model</class>
            </megatronconfig>
            <wordpress>
                <rewrite>
                    <post>Etheme_Megatronconfig_Model_Wordpress_Post</post>
                </rewrite>
            </wordpress>
        </models>
        <blocks>
            <megatronconfig>
                <class>Etheme_Megatronconfig_Block</class>
            </megatronconfig>
            <wordpress>
                <rewrite>
                    <post_list>Etheme_Megatronconfig_Block_Wordpress_Post_List</post_list>
                </rewrite>
            </wordpress>
        </blocks>
        <helpers>
            <megatronconfig>
                <class>Etheme_Megatronconfig_Helper</class>
            </megatronconfig>
            <colorswatchproductlist>
                <rewrite>
                    <data>Etheme_Megatronconfig_Helper_ColorswatchProductList_Data</data>
                </rewrite>
            </colorswatchproductlist>
        </helpers>
        <resources>
            <megatronconfig_setup>
                <setup>
                    <module>Etheme_Megatronconfig</module>
                </setup>
            </megatronconfig_setup>
        </resources>
    </global>

    <default>
        
        <megatronconfig>
      <options>
        <image_rollover_mode>1</image_rollover_mode>
        <image_rollover_sort>2</image_rollover_sort>
        <quick_view>1</quick_view>
		<cloudzoom_free>0</cloudzoom_free>
		<cloudzoom_paid>1</cloudzoom_paid>
        <responsive>1</responsive>
        <catalog_mode>0</catalog_mode>
        <ajax_add_to_cart>1</ajax_add_to_cart>
        <ajax_wish_comp>1</ajax_wish_comp>
        <ajax_toolbar>1</ajax_toolbar>
        <price_slider>1</price_slider>
        <show_add_to_cart>1</show_add_to_cart>
        <show_add_to_wishlist>1</show_add_to_wishlist>
        <show_add_to_compare>1</show_add_to_compare>
        <show_compare_link_in_header>1</show_compare_link_in_header>
        <show_back_to_top>1</show_back_to_top>
        <shop_by_accordion>1</shop_by_accordion>
        <keep_image_aspect_ratio>0</keep_image_aspect_ratio>
        <logo_header>default/header-logo_1.png</logo_header>
        <countdown>1</countdown>
        <show_rating>1</show_rating>
        <site_width>width_1170</site_width>
        <live_chat>1</live_chat>
        <rtl_mode>0</rtl_mode>
        <site_boxed>0</site_boxed>
        <quick_view_style>in</quick_view_style>
        <qr>1</qr>
      </options>
      <megamenu>
        <megamenu>1</megamenu>
        <html_block_above_menu>                    
                    &lt;i class="typcn typcn-gift"&gt;&lt;/i&gt; Gifts                      Exclusive &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;i class="typcn typcn-briefcase"&gt;&lt;/i&gt; offers
                    
                    
                </html_block_above_menu>
        <html_block_under_menu>                    
                    &lt;i class="typcn typcn-thumbs-up"&gt;&lt;/i&gt; special offer                                         &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;i class="typcn typcn-bookmark"&gt;&lt;/i&gt; Up to 50% off discounts
                    
                </html_block_under_menu>
        <bs_count_columns>3</bs_count_columns>
        <megamenu_type>type_a</megamenu_type>
        <show_icons>1</show_icons>
        <show_thumbs>1</show_thumbs>
        <show_desc>1</show_desc>
        <left_part>0</left_part>
        <right_part>0</right_part>
        <black_list></black_list>
        <black_list_left></black_list_left>
      </megamenu>
      <product_labels>
        <show_sale_label>1</show_sale_label>
        <discount_label>1</discount_label>
        <show_new_label>1</show_new_label>
      </product_labels>
      <social_accounts>
        <facebook_profile_name>themeforest</facebook_profile_name>
        <twitter_account>themeforest</twitter_account>
        <twitter_feeds_count>2</twitter_feeds_count>
        <twappid></twappid>
        <twsecret></twsecret>
        <tw_access_token></tw_access_token>
        <tw_access_token_secret></tw_access_token_secret>
        <youtube>&lt;iframe width="430" height="244" src="//www.youtube.com/embed/L9szn1QQfas"  allowfullscreen&gt;&lt;/iframe&gt;</youtube>
        <googlemap_popup></googlemap_popup>
        <googlemap_form>&lt;iframe style="width:100%; height: 500px; margin: 0; border: 0; overflow:hidden;" src="https://maps.google.com/maps?f=q&amp;amp;source=s_q&amp;amp;hl=en&amp;amp;q=LA+Aurora&amp;amp;aq=&amp;amp;sll=39.762235,-104.98827&amp;amp;sspn=0.092238,0.209255&amp;amp;ie=UTF8&amp;amp;t=m&amp;amp;st=112334869561858955379&amp;amp;rq=1&amp;amp;ev=zi&amp;amp;split=1&amp;amp;hq=LA&amp;amp;hnear=%D0%90%D0%B2%D1%80%D0%BE%D1%80%D0%B0,+%D0%90%D1%80%D0%B0%D0%BF%D0%B0%D1%85%D0%BE,+%D0%9A%D0%BE%D0%BB%D0%BE%D1%80%D0%B0%D0%B4%D0%BE&amp;amp;fll=39.757286,-104.986639&amp;amp;fspn=0.046122,0.104628&amp;amp;ll=39.775957,-104.899006&amp;amp;spn=0.046176,0.072956&amp;amp;z=13&amp;amp;output=embed"&gt;&lt;/iframe&gt;</googlemap_form>
      </social_accounts>
    </megatronconfig>
    <megatronlayout>
      <options>
        <product_page>1</product_page>
        <product_listing>izotope</product_listing>
        <slideshow>1</slideshow>
        <slideshow_static_block>199</slideshow_static_block>
        <slider>megatron</slider>
        <custom_html>0</custom_html>
        <zoom>top_left</zoom>
        <slideshow_html>1</slideshow_html>
        <header>default</header>
        <header_fixed>1</header_fixed>
        <header_fixed_switcher>icon-payment-01.png</header_fixed_switcher>
        <header_fixed_switch></header_fixed_switch>
        <header_fixed_logo>0</header_fixed_logo>
        <header_fixed_search>0</header_fixed_search>
        <header_fixed_cart>0</header_fixed_cart>
        <megatron_slider_init>1</megatron_slider_init>
        <megatron_slider_arrows>1</megatron_slider_arrows>
        <megatron_slider_scroll>1</megatron_slider_scroll>
        <revolution_slider_init>1</revolution_slider_init>
        <slider_show>0</slider_show>
        <simple_slider_init>1</simple_slider_init>
        <revolution_slider_height>290</revolution_slider_height>
        <revolution_slider_wide>0</revolution_slider_wide>
        <simple_slider_banners>1</simple_slider_banners>
        <simple_slider_anim>slide</simple_slider_anim>
        <simple_slider_banners_block>13</simple_slider_banners_block>
        <topservices>0</topservices>
        <products_size>big</products_size>
        <izotop_mode>0</izotop_mode>
        <products_2x>20,17</products_2x>
        <right_col>1</right_col>
        <price_bg>1</price_bg>
        <sku>1</sku>
        <small_previews_position>bottom</small_previews_position>
        <accordion_static_block>1</accordion_static_block>
        <services_links_block>1</services_links_block>
        <related_products>1</related_products>
        <upsell_products>1</upsell_products>
        <popular_tags>1</popular_tags>
        <categories>0</categories>
        <tabs_style>ver</tabs_style>
        <video>1</video>
        <addthis>1</addthis>
        <addthis_code>&lt;!-- AddThis Button BEGIN --&gt;
&lt;div class="addthis_toolbox addthis_default_style "&gt;
&lt;a class="addthis_button_preferred_1"&gt;&lt;/a&gt;
&lt;a class="addthis_button_preferred_2"&gt;&lt;/a&gt;
&lt;a class="addthis_button_preferred_3"&gt;&lt;/a&gt;
&lt;a class="addthis_button_preferred_4"&gt;&lt;/a&gt;
&lt;a class="addthis_button_compact"&gt;&lt;/a&gt;
&lt;a class="addthis_counter addthis_bubble_style"&gt;&lt;/a&gt;
&lt;/div&gt;
&lt;script type="text/javascript"&gt;var addthis_config = {"data_track_addressbar":true};&lt;/script&gt;
&lt;script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5395d0ba63634dea"&gt;&lt;/script&gt;
&lt;!-- AddThis Button END --&gt;</addthis_code>
        <prevnext>1</prevnext>
        <stars>1</stars>
        <services_links_block_pos>right</services_links_block_pos>
        <related_products_pos>right</related_products_pos>
        <related_products_style_right>visible_3</related_products_style_right>
        <upsell_products_style>small</upsell_products_style>
        <related_products_style_bottom>big</related_products_style_bottom>
        <video_pos>with_thumbs</video_pos>
        <blog_style>0</blog_style>
        <gallery_categories>Logo design,Webdesign,Animation,Photography</gallery_categories>
        <gallery_grid>columns_3</gallery_grid>
        <gallery_izotop>1</gallery_izotop>
        <gallery_3d>1</gallery_3d>
      </options>
      <sidebar>
        <my_cart>0</my_cart>
        <currency>0</currency>
        <language>0</language>
        <store>0</store>
        <toplinks>0</toplinks>
        <toplinks_block>0</toplinks_block>
        <search>0</search>
        <shop_by>0</shop_by>
        <popular_tags>0</popular_tags>
        <compare>0</compare>
        <community_poll>0</community_poll>
        <navigation>0</navigation>
        <custom_html>0</custom_html>
        <custom_html_product>0</custom_html_product>
        <about>0</about>
        <blog>0</blog>
        <socials>0</socials>
        <socials_twitter>0</socials_twitter>
        <socials_fb>0</socials_fb>
        <contact>0</contact>
        <viewed>0</viewed>
        <related>0</related>
        <upsells>0</upsells>
        <crosselss>0</crosselss>
        <wishlist>0</wishlist>
        <newsletter>0</newsletter>
        <newsletter_block>0</newsletter_block>
        <find_us>0</find_us>
        <footer_links>0</footer_links>
        <footer_links_visible>0</footer_links_visible>
        <about_block>0</about_block>
        <contact_block>0</contact_block>
        <topmenu>0</topmenu>
        <custom_block>0</custom_block>
      </sidebar>
    </megatronlayout>
    </default>
</config>