<?xml version="1.0"?>
<config>
    <modules>
        <Etheme_Megatronsimple>
            <version>0.1.0</version>
        </Etheme_Megatronsimple>
    </modules>
    <frontend>
        <layout>
            <updates>
                <megatronsimple>
                    <file>megatronsimple.xml</file>
                </megatronsimple>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <megatronsimple>
                <use>admin</use>
                <args>
                    <module>Etheme_Megatronsimple</module>
                    <frontName>megatronsimple</frontName>
                </args>
            </megatronsimple>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <megatron>
                <children>
                    <sliders>
                        <children>
                            <flex>
                                <title>Simple slider (home,boxed)</title>
                                <sort_order>10</sort_order>
                                <action>megatronsimple/adminhtml_megatronsimple</action>
                            </flex>
                        </children>
                    </sliders>
                </children>
            </megatron>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <megatronsimple>
                                            <title>Megatron - Flexslider</title>
                                        </megatronsimple>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <etheme>
                            <title>eTheme - Megatron</title>
                            <children>
                                <slider>
                                    <title>Slider Configuration</title>
                                    <children>
                                        <flex>
                                            <title>Flex slider</title>
                                            <children>
                                                
                                                <upload>
                                                    <title>Upload slides</title>
                                                </upload>
                                            </children>
                                        </flex>
                                    </children>
                                </slider>
                            </children>
                        </etheme>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <models>
            <megatronsimple>
                <class>Etheme_Megatronsimple_Model</class>
                <resourceModel>megatronsimple_mysql4</resourceModel>
            </megatronsimple>
            <megatronsimple_mysql4>
                <class>Etheme_Megatronsimple_Model_Mysql4</class>
                <entities>
                    <megatronsimple>
                        <table>megatronsimple</table>
                    </megatronsimple>
                    <megatronsimple_store>
                        <table>megatronsimple_store</table>
                    </megatronsimple_store>
                </entities>
            </megatronsimple_mysql4>
        </models>
        <resources>
            <megatronsimple_setup>
                <setup>
                    <module>Etheme_Megatronsimple</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </megatronsimple_setup>
            <megatronsimple_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </megatronsimple_write>
            <megatronsimple_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </megatronsimple_read>
        </resources>
        <blocks>
            <megatronsimple>
                <class>etheme_megatronsimple_Block</class>
            </megatronsimple>
        </blocks>
        <helpers>
            <megatronsimple>
                <class>etheme_megatronsimple_Helper</class>
            </megatronsimple>
        </helpers>
    </global>
    <default>
        <megatronsimple>
            <options>
                <animation>slide</animation>
                <slideshowspeed>7000</slideshowspeed>
                <animationspeed>600</animationspeed>
            </options>
        </megatronsimple>
    </default>
</config>