
#footer{
  padding-top:25px;
}

.foot-nav-wrap{

  display: block;
  background-color: #FEFBF0;

  ul.foot-nav{
      display:block;
      margin: 0;
      padding: 0;

    li{
      display: block;
      float: left;

      margin: 0 10px 0 0px;
      padding: 2px;


      a{
          display: block;
          color: $purple;
          text-transform: uppercase;
          &:hover{ text-decoration: underline;}

      }
    }
  }
}

.icons{
    text-align: right;

    ul li{
        list-style: none;
        float: right;

        .facebook {
            overflow: hidden;
            background: url("../images/facebook.png") left center no-repeat;
            text-indent: 100px;
            height: 34px;
            width: 34px;
            display: inline-block;
        }

        .instagram {
            overflow: hidden;
            background: url("../images/instagram.png") left center no-repeat;
            text-indent: 100px;
            height: 34px;
            width: 34px;
            display: inline-block;
        }
    }
    
}

.subscribe{
    padding-top:10px;
    
    input {
        line-height: 20px;
        text-align: center;
        color: #97254a;
        padding: 0 5px;
        width: 200px;
        border: 1px solid #7e7f7d;
        margin: 0;
        -moz-border-radius: 5px 0 0 5px;
        border-radius: 5px 0 0 5px;
        background-color: #fefbf0;
        font-size: 9px;
        letter-spacing: 1.6px;
        text-transform: uppercase;
    }
}


.copyright{
  p.copy{
    font-size: $fs_little;
    color: $purple;
    padding-top: 10px;
  }
}
