#hoverfold {
	padding-top:35px;
	padding-bottom:35px;
	margin: 0 -1%;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-box-sizing:content-box;
}
.hoverfold-item {
	float:left;
	position:relative;
	width:360px;
	margin: 0 1%
}
.view {
	width:100%;
	overflow:hidden;
	height: 310px;
	float: left;
	position: relative;
	-webkit-perspective: 500px;
	-moz-perspective: 500px;
	-o-perspective: 500px;
	-ms-perspective: 500px;
	perspective: 500px;
	cursor:pointer;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	background: none repeat scroll 0 0 #454545;
	border-radius: 0 0 0 0;
	color: #999999 !important;
	margin: 8px 0;
	border: 5px solid #fff;
}
.view img {
	position: relative;
	height:100%;
	width:auto;
	z-index: 1;
}
.view .s1 {
	background-position: 0px 0px;
}
.view .s2 {
	background-position: -72px 0px;
}
.view .s3 {
	background-position: -144px 0px;
}
.view .s4 {
	background-position: -216px 0px;
}
.view .s5 {
	background-position: -288px 0px;
}
.view .overlay {
	width: 72px;
	height: 100%;
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity 150ms ease-in-out;
	-moz-transition: opacity 150ms ease-in-out;
	-o-transition: opacity 150ms ease-in-out;
	-ms-transition: opacity 150ms ease-in-out;
	transition: opacity 150ms ease-in-out;
}
.view .s3 > .overlay, .view .s2 > .overlay, .view .s1 > .overlay {
	background:none;
}
#hoverfold div.span4:hover {
	z-index:10000;
}
.view:hover {
	border: 5px solid #ee3b27;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.view .s4 > .overlay {
	background: -moz-linear-gradient(right, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
	background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
	background: -o-linear-gradient(right, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
	background: -ms-linear-gradient(right, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
	background: linear-gradient(right, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}
.view .s5 > .overlay {
	background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
	background: -o-linear-gradient(left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
	background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
	background: linear-gradient(left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}
.view div.view-back {
	background: #0a0a0a;
	background: -moz-linear-gradient(left, #0a0a0a 60%, #454545 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #0a0a0a), color-stop(100%, #454545));
	background: -webkit-linear-gradient(left, #0a0a0a 60%, #454545 100%);
	background: -o-linear-gradient(left, #0a0a0a 60%, #454545 100%);
	background: -ms-linear-gradient(left, #0a0a0a 60%, #454545 100%);
	background: linear-gradient(left, #0a0a0a 60%, #454545 100%);
}
.view img, .view .slice {
	transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
}
.view .slice {
	width: 72px;
	height: 100%;
	z-index: 100;
	background-size: cover;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.view:hover .slice {
	margin-left:-80px;
}
.view .s2, .view .s3, .view .s4, .view .s5 {
	display:none;
}
.view .s1 {
	width:100%;
}
.view div.view-back {
	background: #0a0a0a;
	background: -moz-linear-gradient(left, #0a0a0a 0%, #646464 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #0a0a0a), color-stop(100%, #646464));
	background: -webkit-linear-gradient(left, #0a0a0a 0%, #646464 100%);
	background: -o-linear-gradient(left, #0a0a0a 0%, #646464 100%);
	background: -ms-linear-gradient(left, #0a0a0a 0%, #646464 100%);
	background: linear-gradient(left, #0a0a0a 0%, #646464 100%);
	position: absolute;
	height: 100%;
	left: 0;
	width: 100%;
	z-index: 0;
}
.view-back span.info, .view-back span.zoom-view {
	font-size:12px;
	width:65px;
	text-align:left;
	color:#ccc;
	position:absolute;
	bottom:10px;
	right:10px;
	padding:0;
	line-height:16px;
}
.view-back span.info a {
	display: block;
	float:left;
	text-align:center;
	width:30px;
	font-size:16px;
	color:#fff;
	text-decoration: none !important;
}
.view-back span.zoom-view {
	top: 11px;
	right:12px;
	bottom: auto;
	width:auto;
	padding:0;
	background: #ececec;
	height:55px;
	width: 55px;
	border-radius: 50%;
	text-align: center;
		-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;

}
.view-back span.zoom-view a {
	font-size:28px;
	line-height:55px;
	text-decoration: none !important;
	color:#7f7f7f;
}
.view-back span.zoom-view:hover { background:#ee3b27;}
.view-back span.zoom-view:hover a { color:#fff;}


.view-back span.info span { display:block; overflow: hidden; position:relative;}

/* image width 330 */

@media (max-width: 1359px) and (min-width: 1200px) {

.hoverfold-item {
 width:320px;
 margin: 0 1%
}
.view {
 overflow:visible !important;
 -webkit-perspective: 800px;
 -moz-perspective: 800px;
 -o-perspective: 800px;
 -ms-perspective: 800px;
 perspective: 800px;
 height: 268px;
}
.view .s1 {
 background-position: 0px 0px;
}
.view .s2 {
 background-position: -64px 0px;
}
.view .s3 {
 background-position: -128px 0px;
}
.view .s4 {
 background-position: -192px 0px;
}
.view .s5 {
 background-position: -256px 0px;
}
.view:hover .overlay {
 opacity: 1;
}
.view .slice {
 -webkit-transform-style: preserve-3d;
 -moz-transform-style: preserve-3d;
 -o-transform-style: preserve-3d;
 -ms-transform-style: preserve-3d;
 transform-style: preserve-3d;
 -webkit-transform-origin: left center;
 -moz-transform-origin: left center;
 -o-transform-origin: left center;
 -ms-transform-origin: left center;
 transform-origin: left center;
 -webkit-transition: -webkit-transform 350ms ease-in-out;
 -moz-transition: -moz-transform 350ms ease-in-out;
 -o-transition: -o-transform 350ms ease-in-out;
 -ms-transition: -ms-transform 350ms ease-in-out;
 transition: transform 350ms ease-in-out;
 width: 64px;
}
.view .s1 {
 width: 64px;
}
.view .overlay {
 width: 64px;
}
.view .s2, .view .s3, .view .s4, .view .s5 {
 -webkit-transform: translate3d(64px, 0, 0);
 -moz-transform: translate3d(64px, 0, 0);
 -o-transform: translate3d(64px, 0, 0);
 -ms-transform: translate3d(64px, 0, 0);
 transform: translate3d(64px, 0, 0);
 display:block;
}
.view:hover .s1 {
 -webkit-transition-delay: 200ms;
 -moz-transition-delay: 200ms;
 -o-transition-delay: 200ms;
 -ms-transition-delay: 200ms;
 transition-delay: 200ms;
 -webkit-transform: rotate3d(0, 1, 0, -3deg);
 -moz-transform: rotate3d(0, 1, 0, -3deg);
 -o-transform: rotate3d(0, 1, 0, -3deg);
 -ms-transform: rotate3d(0, 1, 0, -3deg);
 transform: rotate3d(0, 1, 0, -3deg);
}
.view:hover .s2 {
 -webkit-transition-delay: 150ms;
 -moz-transition-delay: 150ms;
 -o-transition-delay: 150ms;
 -ms-transition-delay: 150ms;
 transition-delay: 150ms;
 -webkit-transform: translate3d(63px, 0, 0) rotate3d(0, 1, 0, -10deg);
 -moz-transform: translate3d(63px, 0, 0) rotate3d(0, 1, 0, -10deg);
 -o-transform: translate3d(63px, 0, 0) rotate3d(0, 1, 0, -10deg);
 transform: translate3d(63px, 0, 0) rotate3d(0, 1, 0, -10deg);
 -ms-transform: translate3d(63px, 0, 0) rotate3d(0, 1, 0, -20deg);
}
.view:hover .s3 {
 -webkit-transition-delay: 100ms;
 -moz-transition-delay: 100ms;
 -o-transition-delay: 100ms;
 -ms-transition-delay: 100ms;
 transition-delay: 100ms;
 -webkit-transform: translate3d(63px, 0, 0) rotate3d(0, 1, 0, -16deg);
 -moz-transform: translate3d(63px, 0, 0) rotate3d(0, 1, 0, -16deg);
 -o-transform: translate3d(63px, 0, 0) rotate3d(0, 1, 0, -16deg);
 transform: translate3d(63px, 0, 0) rotate3d(0, 1, 0, -16deg);
 -ms-transform: translate3d(63px, 0, 0) rotate3d(0, 1, 0, -26deg);
}
.view:hover .s4 {
 -webkit-transition-delay: 50ms;
 -moz-transition-delay: 50ms;
 -o-transition-delay: 50ms;
 -ms-transition-delay: 50ms;
 transition-delay: 50ms;
 -webkit-transform: translate3d(63px, 0, 0) rotate3d(0, 1, 0, -30deg);
 -moz-transform: translate3d(63px, 0, 0) rotate3d(0, 1, 0, -30deg);
 -o-transform: translate3d(63px, 0, 0) rotate3d(0, 1, 0, -30deg);
 transform: translate3d(63px, 0, 0) rotate3d(0, 1, 0, -30deg);
 -ms-transform: translate3d(63px, 0, 0) rotate3d(0, 1, 0, -50deg);
}
.view:hover .s5 {
 -webkit-transform: translate3d(64px, 0, 0) rotate3d(0, 1, 0, -42deg);
 -moz-transform: translate3d(64px, 0, 0) rotate3d(0, 1, 0, -42deg);
 -o-transform: translate3d(64px, 0, 0) rotate3d(0, 1, 0, -42deg);
 transform: translate3d(64px, 0, 0) rotate3d(0, 1, 0, -42deg);
 -ms-transform: translate3d(64px, 0, 0) rotate3d(0, 1, 0, -62deg);
}
.view:hover .slice {
 margin-left:inherit;
}
}
/* image width 370 */

@media only screen and (min-width: 1360px) {
 .view {
 overflow:visible !important;
}
 .view {
 -webkit-perspective: 800px;
 -moz-perspective: 800px;
 -o-perspective: 800px;
 -ms-perspective: 800px;
 perspective: 800px;
}
 .view:hover .overlay {
 opacity: 1;
}
 .view .slice {
 -webkit-transform-style: preserve-3d;
 -moz-transform-style: preserve-3d;
 -o-transform-style: preserve-3d;
 -ms-transform-style: preserve-3d;
 transform-style: preserve-3d;
 -webkit-transform-origin: left center;
 -moz-transform-origin: left center;
 -o-transform-origin: left center;
 -ms-transform-origin: left center;
 transform-origin: left center;
 -webkit-transition: -webkit-transform 350ms ease-in-out;
 -moz-transition: -moz-transform 350ms ease-in-out;
 -o-transition: -o-transform 350ms ease-in-out;
 -ms-transition: -ms-transform 350ms ease-in-out;
 transition: transform 350ms ease-in-out;
}
 .view .s1 {
 width: 72px;
}
 .view .s2, .view .s3, .view .s4, .view .s5 {
 -webkit-transform: translate3d(72px, 0, 0);
 -moz-transform: translate3d(72px, 0, 0);
 -o-transform: translate3d(72px, 0, 0);
 -ms-transform: translate3d(72px, 0, 0);
 transform: translate3d(72px, 0, 0);
 display:block;
}
 .view:hover .s1 {
 -webkit-transition-delay: 200ms;
 -moz-transition-delay: 200ms;
 -o-transition-delay: 200ms;
 -ms-transition-delay: 200ms;
 transition-delay: 200ms;
 -webkit-transform: rotate3d(0, 1, 0, -3deg);
 -moz-transform: rotate3d(0, 1, 0, -3deg);
 -o-transform: rotate3d(0, 1, 0, -3deg);
 -ms-transform: rotate3d(0, 1, 0, -3deg);
 transform: rotate3d(0, 1, 0, -3deg);
}
 .view:hover .s2 {
 -webkit-transition-delay: 150ms;
 -moz-transition-delay: 150ms;
 -o-transition-delay: 150ms;
 -ms-transition-delay: 150ms;
 transition-delay: 150ms;
 -webkit-transform: translate3d(71px, 0, 0) rotate3d(0, 1, 0, -10deg);
 -moz-transform: translate3d(71px, 0, 0) rotate3d(0, 1, 0, -10deg);
 -o-transform: translate3d(71px, 0, 0) rotate3d(0, 1, 0, -10deg);
 transform: translate3d(71px, 0, 0) rotate3d(0, 1, 0, -10deg);
 -ms-transform: translate3d(71px, 0, 0) rotate3d(0, 1, 0, -20deg);
}
 .view:hover .s3 {
 -webkit-transition-delay: 100ms;
 -moz-transition-delay: 100ms;
 -o-transition-delay: 100ms;
 -ms-transition-delay: 100ms;
 transition-delay: 100ms;
 -webkit-transform: translate3d(71px, 0, 0) rotate3d(0, 1, 0, -16deg);
 -moz-transform: translate3d(71px, 0, 0) rotate3d(0, 1, 0, -16deg);
 -o-transform: translate3d(71px, 0, 0) rotate3d(0, 1, 0, -16deg);
 transform: translate3d(71px, 0, 0) rotate3d(0, 1, 0, -16deg);
 -ms-transform: translate3d(71px, 0, 0) rotate3d(0, 1, 0, -26deg);
}
 .view:hover .s4 {
 -webkit-transition-delay: 50ms;
 -moz-transition-delay: 50ms;
 -o-transition-delay: 50ms;
 -ms-transition-delay: 50ms;
 transition-delay: 50ms;
 -webkit-transform: translate3d(71px, 0, 0) rotate3d(0, 1, 0, -30deg);
 -moz-transform: translate3d(71px, 0, 0) rotate3d(0, 1, 0, -30deg);
 -o-transform: translate3d(71px, 0, 0) rotate3d(0, 1, 0, -30deg);
 transform: translate3d(71px, 0, 0) rotate3d(0, 1, 0, -30deg);
 -ms-transform: translate3d(71px, 0, 0) rotate3d(0, 1, 0, -50deg);
}
 .view:hover .s5 {
 -webkit-transform: translate3d(72px, 0, 0) rotate3d(0, 1, 0, -42deg);
 -moz-transform: translate3d(72px, 0, 0) rotate3d(0, 1, 0, -42deg);
 -o-transform: translate3d(72px, 0, 0) rotate3d(0, 1, 0, -42deg);
 transform: translate3d(72px, 0, 0) rotate3d(0, 1, 0, -42deg);
 -ms-transform: translate3d(72px, 0, 0) rotate3d(0, 1, 0, -62deg);
}
 .view:hover .slice {
 margin-left:inherit;
}
}

/* image width 400 */

@media (max-width: 1199px) and (min-width: 980px) {

 #hoverfold {
 margin: 0;
}
 .hoverfold-item {
 width:390px;
 margin: 0 3%
}
.view {
 overflow:visible !important;
 height: 326px;
 -webkit-perspective: 800px;
 -moz-perspective: 800px;
 -o-perspective: 800px;
 -ms-perspective: 800px;
 perspective: 800px;
}
.view .s1 {
 background-position: 0px 0px;
}
.view .s2 {
 background-position: -78px 0px;
}
.view .s3 {
 background-position: -156px 0px;
}
.view .s4 {
 background-position: -234px 0px;
}
.view .s5 {
 background-position: -312px 0px;
}
.view:hover .overlay {
 opacity: 1;
}
.view .slice {
 -webkit-transform-style: preserve-3d;
 -moz-transform-style: preserve-3d;
 -o-transform-style: preserve-3d;
 -ms-transform-style: preserve-3d;
 transform-style: preserve-3d;
 -webkit-transform-origin: left center;
 -moz-transform-origin: left center;
 -o-transform-origin: left center;
 -ms-transform-origin: left center;
 transform-origin: left center;
 -webkit-transition: -webkit-transform 350ms ease-in-out;
 -moz-transition: -moz-transform 350ms ease-in-out;
 -o-transition: -o-transform 350ms ease-in-out;
 -ms-transition: -ms-transform 350ms ease-in-out;
 transition: transform 350ms ease-in-out;
 width: 78px;
}
.view .s1 {
 width: 78px;
}
.view .overlay {
 width: 78px;
}
.view .s2, .view .s3, .view .s4, .view .s5 {
 -webkit-transform: translate3d(78px, 0, 0);
 -moz-transform: translate3d(78px, 0, 0);
 -o-transform: translate3d(78px, 0, 0);
 -ms-transform: translate3d(78px, 0, 0);
 transform: translate3d(78px, 0, 0);
 display:block;
}
.view:hover .s1 {
 -webkit-transition-delay: 200ms;
 -moz-transition-delay: 200ms;
 -o-transition-delay: 200ms;
 -ms-transition-delay: 200ms;
 transition-delay: 200ms;
 -webkit-transform: rotate3d(0, 1, 0, -3deg);
 -moz-transform: rotate3d(0, 1, 0, -3deg);
 -o-transform: rotate3d(0, 1, 0, -3deg);
 -ms-transform: rotate3d(0, 1, 0, -3deg);
 transform: rotate3d(0, 1, 0, -3deg);
}
.view:hover .s2 {
 -webkit-transition-delay: 150ms;
 -moz-transition-delay: 150ms;
 -o-transition-delay: 150ms;
 -ms-transition-delay: 150ms;
 transition-delay: 150ms;
 -webkit-transform: translate3d(77px, 0, 0) rotate3d(0, 1, 0, -10deg);
 -moz-transform: translate3d(77px, 0, 0) rotate3d(0, 1, 0, -10deg);
 -o-transform: translate3d(77px, 0, 0) rotate3d(0, 1, 0, -10deg);
 transform: translate3d(77px, 0, 0) rotate3d(0, 1, 0, -10deg);
 -ms-transform: translate3d(77px, 0, 0) rotate3d(0, 1, 0, -20deg);
}
.view:hover .s3 {
 -webkit-transition-delay: 100ms;
 -moz-transition-delay: 100ms;
 -o-transition-delay: 100ms;
 -ms-transition-delay: 100ms;
 transition-delay: 100ms;
 -webkit-transform: translate3d(77px, 0, 0) rotate3d(0, 1, 0, -16deg);
 -moz-transform: translate3d(77px, 0, 0) rotate3d(0, 1, 0, -16deg);
 -o-transform: translate3d(77px, 0, 0) rotate3d(0, 1, 0, -16deg);
 transform: translate3d(77px, 0, 0) rotate3d(0, 1, 0, -16deg);
 -ms-transform: translate3d(77px, 0, 0) rotate3d(0, 1, 0, -26deg);
}
.view:hover .s4 {
 -webkit-transition-delay: 50ms;
 -moz-transition-delay: 50ms;
 -o-transition-delay: 50ms;
 -ms-transition-delay: 50ms;
 transition-delay: 50ms;
 -webkit-transform: translate3d(77px, 0, 0) rotate3d(0, 1, 0, -30deg);
 -moz-transform: translate3d(77px, 0, 0) rotate3d(0, 1, 0, -30deg);
 -o-transform: translate3d(77px, 0, 0) rotate3d(0, 1, 0, -30deg);
 transform: translate3d(77px, 0, 0) rotate3d(0, 1, 0, -30deg);
 -ms-transform: translate3d(77px, 0, 0) rotate3d(0, 1, 0, -50deg);
}
.view:hover .s5 {
 -webkit-transform: translate3d(78px, 0, 0) rotate3d(0, 1, 0, -42deg);
 -moz-transform: translate3d(78px, 0, 0) rotate3d(0, 1, 0, -42deg);
 -o-transform: translate3d(78px, 0, 0) rotate3d(0, 1, 0, -42deg);
 transform: translate3d(78px, 0, 0) rotate3d(0, 1, 0, -42deg);
 -ms-transform: translate3d(78px, 0, 0) rotate3d(0, 1, 0, -62deg);
}
.view:hover .slice {
 margin-left:inherit;
}
}
@media (max-width: 979px) and (min-width: 768px) {

.hoverfold-item {
 width:320px;
 margin: 0 3%
}
.view {
 overflow:visible !important;
 -webkit-perspective: 800px;
 -moz-perspective: 800px;
 -o-perspective: 800px;
 -ms-perspective: 800px;
 perspective: 800px;
 height: 268px;
}
.view .s1 {
 background-position: 0px 0px;
}
.view .s2 {
 background-position: -64px 0px;
}
.view .s3 {
 background-position: -128px 0px;
}
.view .s4 {
 background-position: -192px 0px;
}
.view .s5 {
 background-position: -256px 0px;
}
.view:hover .overlay {
 opacity: 1;
}
.view .slice {
 -webkit-transform-style: preserve-3d;
 -moz-transform-style: preserve-3d;
 -o-transform-style: preserve-3d;
 -ms-transform-style: preserve-3d;
 transform-style: preserve-3d;
 -webkit-transform-origin: left center;
 -moz-transform-origin: left center;
 -o-transform-origin: left center;
 -ms-transform-origin: left center;
 transform-origin: left center;
 -webkit-transition: -webkit-transform 350ms ease-in-out;
 -moz-transition: -moz-transform 350ms ease-in-out;
 -o-transition: -o-transform 350ms ease-in-out;
 -ms-transition: -ms-transform 350ms ease-in-out;
 transition: transform 350ms ease-in-out;
 width: 64px;
}
.view .s1 {
 width: 64px;
}
.view .overlay {
 width: 64px;
}
.view .s2, .view .s3, .view .s4, .view .s5 {
 -webkit-transform: translate3d(64px, 0, 0);
 -moz-transform: translate3d(64px, 0, 0);
 -o-transform: translate3d(64px, 0, 0);
 -ms-transform: translate3d(64px, 0, 0);
 transform: translate3d(64px, 0, 0);
 display:block;
}
.view:hover .s1 {
 -webkit-transition-delay: 200ms;
 -moz-transition-delay: 200ms;
 -o-transition-delay: 200ms;
 -ms-transition-delay: 200ms;
 transition-delay: 200ms;
 -webkit-transform: rotate3d(0, 1, 0, -3deg);
 -moz-transform: rotate3d(0, 1, 0, -3deg);
 -o-transform: rotate3d(0, 1, 0, -3deg);
 -ms-transform: rotate3d(0, 1, 0, -3deg);
 transform: rotate3d(0, 1, 0, -3deg);
}
.view:hover .s2 {
 -webkit-transition-delay: 150ms;
 -moz-transition-delay: 150ms;
 -o-transition-delay: 150ms;
 -ms-transition-delay: 150ms;
 transition-delay: 150ms;
 -webkit-transform: translate3d(63px, 0, 0) rotate3d(0, 1, 0, -10deg);
 -moz-transform: translate3d(63px, 0, 0) rotate3d(0, 1, 0, -10deg);
 -o-transform: translate3d(63px, 0, 0) rotate3d(0, 1, 0, -10deg);
 transform: translate3d(63px, 0, 0) rotate3d(0, 1, 0, -10deg);
 -ms-transform: translate3d(63px, 0, 0) rotate3d(0, 1, 0, -20deg);
}
.view:hover .s3 {
 -webkit-transition-delay: 100ms;
 -moz-transition-delay: 100ms;
 -o-transition-delay: 100ms;
 -ms-transition-delay: 100ms;
 transition-delay: 100ms;
 -webkit-transform: translate3d(63px, 0, 0) rotate3d(0, 1, 0, -16deg);
 -moz-transform: translate3d(63px, 0, 0) rotate3d(0, 1, 0, -16deg);
 -o-transform: translate3d(63px, 0, 0) rotate3d(0, 1, 0, -16deg);
 transform: translate3d(63px, 0, 0) rotate3d(0, 1, 0, -16deg);
 -ms-transform: translate3d(63px, 0, 0) rotate3d(0, 1, 0, -26deg);
}
.view:hover .s4 {
 -webkit-transition-delay: 50ms;
 -moz-transition-delay: 50ms;
 -o-transition-delay: 50ms;
 -ms-transition-delay: 50ms;
 transition-delay: 50ms;
 -webkit-transform: translate3d(63px, 0, 0) rotate3d(0, 1, 0, -30deg);
 -moz-transform: translate3d(63px, 0, 0) rotate3d(0, 1, 0, -30deg);
 -o-transform: translate3d(63px, 0, 0) rotate3d(0, 1, 0, -30deg);
 transform: translate3d(63px, 0, 0) rotate3d(0, 1, 0, -30deg);
 -ms-transform: translate3d(63px, 0, 0) rotate3d(0, 1, 0, -50deg);
}
.view:hover .s5 {
 -webkit-transform: translate3d(64px, 0, 0) rotate3d(0, 1, 0, -42deg);
 -moz-transform: translate3d(64px, 0, 0) rotate3d(0, 1, 0, -42deg);
 -o-transform: translate3d(64px, 0, 0) rotate3d(0, 1, 0, -42deg);
 transform: translate3d(64px, 0, 0) rotate3d(0, 1, 0, -42deg);
 -ms-transform: translate3d(64px, 0, 0) rotate3d(0, 1, 0, -62deg);
}
.view:hover .slice {
 margin-left:inherit;
}
}

@media (max-width: 767px) and (min-width: 480px) {

#hoverfold {
margin: 0;
}
.hoverfold-item {
 width:360px;
 margin: 0 10%;
 float: none;
}
.view {
 overflow:visible !important;
 -webkit-perspective: 800px;
 -moz-perspective: 800px;
 -o-perspective: 800px;
 -ms-perspective: 800px;
 perspective: 800px;
 height:301px;
}
 .view:hover .overlay {
 opacity: 1;
}
 .view .slice {
 -webkit-transform-style: preserve-3d;
 -moz-transform-style: preserve-3d;
 -o-transform-style: preserve-3d;
 -ms-transform-style: preserve-3d;
 transform-style: preserve-3d;
 -webkit-transform-origin: left center;
 -moz-transform-origin: left center;
 -o-transform-origin: left center;
 -ms-transform-origin: left center;
 transform-origin: left center;
 -webkit-transition: -webkit-transform 350ms ease-in-out;
 -moz-transition: -moz-transform 350ms ease-in-out;
 -o-transition: -o-transform 350ms ease-in-out;
 -ms-transition: -ms-transform 350ms ease-in-out;
 transition: transform 350ms ease-in-out;
}
 .view .s1 {
 width: 72px;
}
 .view .s2, .view .s3, .view .s4, .view .s5 {
 -webkit-transform: translate3d(72px, 0, 0);
 -moz-transform: translate3d(72px, 0, 0);
 -o-transform: translate3d(72px, 0, 0);
 -ms-transform: translate3d(72px, 0, 0);
 transform: translate3d(72px, 0, 0);
 display:block;
}
 .view:hover .s1 {
 -webkit-transition-delay: 200ms;
 -moz-transition-delay: 200ms;
 -o-transition-delay: 200ms;
 -ms-transition-delay: 200ms;
 transition-delay: 200ms;
 -webkit-transform: rotate3d(0, 1, 0, -3deg);
 -moz-transform: rotate3d(0, 1, 0, -3deg);
 -o-transform: rotate3d(0, 1, 0, -3deg);
 -ms-transform: rotate3d(0, 1, 0, -3deg);
 transform: rotate3d(0, 1, 0, -3deg);
}
 .view:hover .s2 {
 -webkit-transition-delay: 150ms;
 -moz-transition-delay: 150ms;
 -o-transition-delay: 150ms;
 -ms-transition-delay: 150ms;
 transition-delay: 150ms;
 -webkit-transform: translate3d(71px, 0, 0) rotate3d(0, 1, 0, -10deg);
 -moz-transform: translate3d(71px, 0, 0) rotate3d(0, 1, 0, -10deg);
 -o-transform: translate3d(71px, 0, 0) rotate3d(0, 1, 0, -10deg);
 transform: translate3d(71px, 0, 0) rotate3d(0, 1, 0, -10deg);
 -ms-transform: translate3d(71px, 0, 0) rotate3d(0, 1, 0, -20deg);
}
 .view:hover .s3 {
 -webkit-transition-delay: 100ms;
 -moz-transition-delay: 100ms;
 -o-transition-delay: 100ms;
 -ms-transition-delay: 100ms;
 transition-delay: 100ms;
 -webkit-transform: translate3d(71px, 0, 0) rotate3d(0, 1, 0, -16deg);
 -moz-transform: translate3d(71px, 0, 0) rotate3d(0, 1, 0, -16deg);
 -o-transform: translate3d(71px, 0, 0) rotate3d(0, 1, 0, -16deg);
 transform: translate3d(71px, 0, 0) rotate3d(0, 1, 0, -16deg);
 -ms-transform: translate3d(71px, 0, 0) rotate3d(0, 1, 0, -26deg);
}
 .view:hover .s4 {
 -webkit-transition-delay: 50ms;
 -moz-transition-delay: 50ms;
 -o-transition-delay: 50ms;
 -ms-transition-delay: 50ms;
 transition-delay: 50ms;
 -webkit-transform: translate3d(71px, 0, 0) rotate3d(0, 1, 0, -30deg);
 -moz-transform: translate3d(71px, 0, 0) rotate3d(0, 1, 0, -30deg);
 -o-transform: translate3d(71px, 0, 0) rotate3d(0, 1, 0, -30deg);
 transform: translate3d(71px, 0, 0) rotate3d(0, 1, 0, -30deg);
 -ms-transform: translate3d(71px, 0, 0) rotate3d(0, 1, 0, -50deg);
}
 .view:hover .s5 {
 -webkit-transform: translate3d(72px, 0, 0) rotate3d(0, 1, 0, -42deg);
 -moz-transform: translate3d(72px, 0, 0) rotate3d(0, 1, 0, -42deg);
 -o-transform: translate3d(72px, 0, 0) rotate3d(0, 1, 0, -42deg);
 transform: translate3d(72px, 0, 0) rotate3d(0, 1, 0, -42deg);
 -ms-transform: translate3d(72px, 0, 0) rotate3d(0, 1, 0, -62deg);
}
 .view:hover .slice {
 margin-left:inherit;
}
}


/* image width 300 */

@media (max-width: 479px) {
#hoverfold {
margin: 0;
}
.hoverfold-item {
 width:290px;
 margin: 0 10%;
 float: none;
}
 .view {
 overflow:visible !important;
 height: 243px;
 -webkit-perspective: 800px;
 -moz-perspective: 800px;
 -o-perspective: 800px;
 -ms-perspective: 800px;
 perspective: 800px;
}
.view .s1 {
 background-position: 0px 0px;
}
.view .s2 {
 background-position: -58px 0px;
}
.view .s3 {
 background-position: -116px 0px;
}
.view .s4 {
 background-position: -174px 0px;
}
.view .s5 {
 background-position: -232px 0px;
}
.view:hover .overlay {
 opacity: 1;
}
.view .slice {
 -webkit-transform-style: preserve-3d;
 -moz-transform-style: preserve-3d;
 -o-transform-style: preserve-3d;
 -ms-transform-style: preserve-3d;
 transform-style: preserve-3d;
 -webkit-transform-origin: left center;
 -moz-transform-origin: left center;
 -o-transform-origin: left center;
 -ms-transform-origin: left center;
 transform-origin: left center;
 -webkit-transition: -webkit-transform 350ms ease-in-out;
 -moz-transition: -moz-transform 350ms ease-in-out;
 -o-transition: -o-transform 350ms ease-in-out;
 -ms-transition: -ms-transform 350ms ease-in-out;
 transition: transform 350ms ease-in-out;
 width: 58px;
}
.view .s1 {
 width: 58px;
}
.view .overlay {
 width: 58px;
}
.view .s2, .view .s3, .view .s4, .view .s5 {
 -webkit-transform: translate3d(58px, 0, 0);
 -moz-transform: translate3d(58px, 0, 0);
 -o-transform: translate3d(58px, 0, 0);
 -ms-transform: translate3d(58px, 0, 0);
 transform: translate3d(58px, 0, 0);
 display:block;
}
.view:hover .s1 {
 -webkit-transition-delay: 200ms;
 -moz-transition-delay: 200ms;
 -o-transition-delay: 200ms;
 -ms-transition-delay: 200ms;
 transition-delay: 200ms;
 -webkit-transform: rotate3d(0, 1, 0, -3deg);
 -moz-transform: rotate3d(0, 1, 0, -3deg);
 -o-transform: rotate3d(0, 1, 0, -3deg);
 -ms-transform: rotate3d(0, 1, 0, -3deg);
 transform: rotate3d(0, 1, 0, -3deg);
}
.view:hover .s2 {
 -webkit-transition-delay: 150ms;
 -moz-transition-delay: 150ms;
 -o-transition-delay: 150ms;
 -ms-transition-delay: 150ms;
 transition-delay: 150ms;
 -webkit-transform: translate3d(57px, 0, 0) rotate3d(0, 1, 0, -10deg);
 -moz-transform: translate3d(57px, 0, 0) rotate3d(0, 1, 0, -10deg);
 -o-transform: translate3d(57px, 0, 0) rotate3d(0, 1, 0, -10deg);
 transform: translate3d(57px, 0, 0) rotate3d(0, 1, 0, -10deg);
 -ms-transform: translate3d(57px, 0, 0) rotate3d(0, 1, 0, -20deg);
}
.view:hover .s3 {
 -webkit-transition-delay: 100ms;
 -moz-transition-delay: 100ms;
 -o-transition-delay: 100ms;
 -ms-transition-delay: 100ms;
 transition-delay: 100ms;
 -webkit-transform: translate3d(57px, 0, 0) rotate3d(0, 1, 0, -16deg);
 -moz-transform: translate3d(57px, 0, 0) rotate3d(0, 1, 0, -16deg);
 -o-transform: translate3d(57px, 0, 0) rotate3d(0, 1, 0, -16deg);
 transform: translate3d(57px, 0, 0) rotate3d(0, 1, 0, -16deg);
 -ms-transform: translate3d(57px, 0, 0) rotate3d(0, 1, 0, -26deg);
}
.view:hover .s4 {
 -webkit-transition-delay: 50ms;
 -moz-transition-delay: 50ms;
 -o-transition-delay: 50ms;
 -ms-transition-delay: 50ms;
 transition-delay: 50ms;
 -webkit-transform: translate3d(57px, 0, 0) rotate3d(0, 1, 0, -30deg);
 -moz-transform: translate3d(57px, 0, 0) rotate3d(0, 1, 0, -30deg);
 -o-transform: translate3d(57px, 0, 0) rotate3d(0, 1, 0, -30deg);
 transform: translate3d(57px, 0, 0) rotate3d(0, 1, 0, -30deg);
 -ms-transform: translate3d(57px, 0, 0) rotate3d(0, 1, 0, -50deg);
}
.view:hover .s5 {
 -webkit-transform: translate3d(58px, 0, 0) rotate3d(0, 1, 0, -42deg);
 -moz-transform: translate3d(58px, 0, 0) rotate3d(0, 1, 0, -42deg);
 -o-transform: translate3d(58px, 0, 0) rotate3d(0, 1, 0, -42deg);
 transform: translate3d(58px, 0, 0) rotate3d(0, 1, 0, -42deg);
 -ms-transform: translate3d(58px, 0, 0) rotate3d(0, 1, 0, -62deg);
}
.view:hover .slice {
 margin-left:inherit;
}
}
